<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/{{js_file}}.js"></script>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/games">Manage Games</a></li>
                <li><a href="/customers">Manage Customers</a></li>
                <li><a href="/library">Manage Library</a></li>
                <li><a href="/wishlist">Manage Wishlist</a></li>
                <li><a href="/reviews">Manage Reviews</a></li>
                <li><a href="/sales">Manage Sales</a></li>
                <li><a href="/orderItems">Manage Order Items</a></li>
            </ul>
        </nav>
        <h1>{{headerTitle}}</h1>
        <p>{{headerDescription}}</p>
    </header>

    <main>
        {{{body}}}
    </main>

    <footer>
        <p>&copy; 2024 Andy Vo and Marat Muzaffarov. All rights reserved.</p>
    </footer>
</body>
</html>
