
<div id="browse">
    <h2>Review List</h2>
    <button onclick="newReview()">Add New Review</button>
    <table border="1" cellpadding="5" id="reviewTable">
        <tr>
            <th>Review ID</th>
            <th>Customer ID</th>
            <th>Game ID</th>
            <th>Rating</th>
            <th>Comment</th>
            <th>Review Date</th>
            <th>Actions</th>
        </tr>
        {{#each reviews}}
        <tr data-id="{{reviewID}}">
            <td>{{reviewID}}</td>
            <td>{{customerID}}</td>
            <td>{{gameID}}</td>
            <td class="rating">{{rating}}</td>
            <td class="comment">{{comment}}</td>
            <td>{{reviewDate}}</td>
            <td>
                <button onclick="updateReview({{reviewID}})">Edit</button>
                <button onclick="deleteReview({{reviewID}})">Delete</button>
            </td>
        </tr>
        {{/each}}
    </table>
</div>

<!-- Insert Section -->
<div id="insert" style="display: none;">
    <h2>Add to Reviews</h2>
    <form method="POST" action="/addReview">
        <label>Customer ID:</label> <input type="number" name="customerID" required><br>
        <label>Game ID:</label> <input type="number" name="gameID" required><br>
        <label>Rating:</label> <input type="number" step="1" min="0" max="10" name="rating" required><br>
        <label>Comment:</label> <input type="text" name="comment"><br>
        <label>Review Date:</label> <input type="date" name="reviewDate" required><br>
        <button type="submit">Add to Reviews</button>
        <button type="button" onclick="showForm('browse')">Cancel</button>
    </form>
</div>

<!-- Update Section -->
<div id="update" style="display: none;">
    <h2>Update Review</h2>
    <form method="POST" action="/updateReview">
        <input type="hidden" name="reviewID" id="updateReviewID">
        <label>Rating:</label> <input type="number" step="1" min="0" max="10" name="rating"  id="updateRating" required><br>
        <label>Comment:</label> <input type="text" name="comment"  id="updateComment"><br>
        <button type="submit">Save Changes</button>
        <button type="button" onclick="showForm('browse')">Cancel</button>
    </form>
</div>

<!-- Delete Section -->
<div id="delete" style="display: none;">
    <h2>Delete Review</h2>
    <form method="POST" action="/deleteReview">
        <input type="hidden" name="reviewID" id="deleteReviewID">
        <p>Are you sure you want to delete this review?</p>
        <button type="submit">Delete</button>
        <button type="button" onclick="showForm('browse')">Cancel</button>
    </form>
</div>
